label:has([type="checkbox"], [type="radio"]) {
  cursor: pointer;
}

[type="checkbox"],
[type="radio"] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  color: var(--clr-text-shade);
  border: solid 2px currentColor;
  cursor: pointer;
  vertical-align: middle;
  margin-inline-end: 0.2em;
}

[type="checkbox"]:checked,
[type="radio"]:checked {
  color: var(--clr-text);
}

[type="checkbox"]:focus-visible,
[type="radio"]:focus-visible {
  outline-offset: 2px;
}

[type="checkbox"]:checked::after,
[type="radio"]:checked::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: currentColor;
}

[type="checkbox"]:checked::after{
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

[type="radio"],[type="radio"]::after {
    border-radius: 9999999999em;
}