input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  vertical-align: middle;
  --_thumb-width: .4rem;
  --_thumb-height: 1rem;
  --_track-height: 1rem;
  --_track-padding: .4rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-image: linear-gradient(transparent var(--_track-padding), currentColor var(--_track-padding), currentColor calc(100% - var(--_track-padding)), transparent calc(100% - var(--_track-padding)));
  height: var(--_track-height);
}

input[type="range"]::-moz-range-track {
  background-color: currentColor;
  height: var(--_track-height);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: calc(-0.5 * var(--_thumb-height) + 0.5 * var(--_track-height));
  background-color: currentColor;
  height: var(--_thumb-height);
  width: var(--_thumb-width);
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: currentColor;
  height: var(--_thumb-height);
  width: var(--_thumb-width);
}
